.add_article{
    margin: 3.125em auto;
}

.add_article a{
    font-weight: bold;
    background-color: rgb(243, 243, 243);
    font-size: 1.25em;
    border-radius: 15px;
    border-style: inset;
    border-color: rgb(238, 238, 238);
    padding: 0.5em;
    color: black;
    text-decoration: none;
}

.add_article a:visited{
    
    color: black;
}

.add_article a:hover{
    
    color: black;
}

.add_article a:checked{
    
    color: black;
}